body {
	  font-size: 16px;
	 /*  background-image: url("/images/bgooo.jpg"); */
	

}
#mjlogo {
	font-size:58px;
	font-weight: bold;
	
}

h3, .navbar {
	font-variant: small-caps;
	letter-spacing: 0.1em;
}



#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -999; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}


.panel-primary > .panel-heading { 
  color: #ffffff;
  /* background-color: #2673D2;
  border-color: #2673D2; */
}
.navbar, .panel-heading {
/* 	-moz-opacity: 0.55;
	-khtml-opacity: 0.55;
	-webkit-opacity: 0.55;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=55)";
	filter: "alpha(opacity=55)"; */
}

.container {
margin-top:0;
}

#bounds {
display:block;
background:rgba(255,255,255,.98);
color:#333;
box-shadow:0 3px 25px rgba(0,0,0,.2);
border:1px solid rgba(0,0,0,.2);
padding: 20px 30px 20px 30px;
}

footer {
	margin-top: 30px;
	border-top: 1px #ccc solid;
}

.panel {
	border: none;
}

.thumbnail {
	border:none;
}

.alert {
	position:absolute;
	top:0px;
	width: 100%;
	display: block;
	-moz-opacity: 0.35;
	-khtml-opacity: 0.35;
	-webkit-opacity: 0.35;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=35)";
	filter: "alpha(opacity=35)";

}


