body {
	padding: 0;
	margin: 0;
}
#mjlogo {
	font-size:48px;
	margin:20px;
}

h3, .navbar {
	font-variant: small-caps;
}

.container {
margin-top:0;
}
body {
	padding-top:30px;
	
}

footer {
	padding: 10px;
	border-top: 1px;
}

.panel {
	border: none;
}

.thumbnail {
	border:none;
}

.alert {
	font-size: 20px;
	position:absolute;
	top:0px;
	width: 100%;
	opacity:  0.3;
}